* {
	font-family: "Rajdhani";
	scrollbar-width: thin;
	scrollbar-color: white transparent;
}
:root {
	--padding: 4px;
	--curve: 8px;
	--radius: calc(var(--curve) - var(--padding));

	--themedBlack: #00001c;
	--themedLighter: #09093a;
	--themedOutline: #131356;
	--slantText: #00001c;
	--slantBackground: white;
	
	--floatingImage: url("../Graphics/Rise/Rise_Art_1_0_0.webp");
	--textShadowColor: rgba(from var(--themedBlack) r g b / 0.6);
}
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	background-color: var(--themedBlack);

	color: #ffffff;

	margin: 0px;
	padding: 0px;

	overflow-x: hidden;
}
footer {
	background-color: #09093a;

	padding: 16px 4px;
	text-align: center;
}

h1, h2, h3 {
	font-family: "Rajdhani_Bold";
}
h4, h5, h6 {
	font-family: "Rajdhani_SemiBold";
}
p, a {
	font-family: "Rajdhani_Medium";
}
button {
	background-color: black;
	display: block;

	border: none;
	color: white;

	padding: 8px 12px;
	border-radius: 4px;

	cursor: pointer;
}

nav {
	background-color: rgb(from var(--themedBlack) r g b / 0.5);
	backdrop-filter: blur(10px);

	position: fixed;
	inset: 0px;
	z-index: 1;
	
	display: grid;
	align-items: center;
	justify-content: center;

	max-height: 36px;
	
	padding: 4px 0px 6px 0px;
}
nav a {
	text-decoration: none;
	text-align: center;

	color: inherit;

	margin: 0px 8px;
	padding: 2px 8px;
}
nav .flex_center {
	position: relative;
	z-index: 1;
}

.center_grid {
	display: grid;
	justify-items: center;
	align-content: center;
}
.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* --- CONTENT HEADERS --- */
.div_header {
	display: flex;
	gap: 1.5px;

	margin: 4px;
	margin-bottom: 0px;

	text-align: center;
	align-items: end;
}
.div_header .text_slant {
	padding: 4px 16px;
	margin: 0px;
}
.div_header h2 {
	text-transform: uppercase;
}
.div_header h3 {
	font-size: 1rem;
	height: max-content;

	flex-grow: 1;
}

/* --- CONTENT EXTRAS --- */
.content_section {
	padding: 4px;
}
.fill_viewport {
	position: relative;
	height: 100vh;
	max-width: 100vw;
}
.floating_background {
	position: absolute;
	z-index: -2;
	inset: 0px;

	background-image: var(--floatingImage);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* --- PROJECT TAGS --- */
.releaseTag {
	transform-origin: top left;
	position: absolute;
	top: 0px;
	
	border-radius: 4px;
}
.releaseTag p::before {
	color: white;
}
.releaseTag p {
	margin: 0px;
	padding: 4px 8px;
	
	color: var(--themedBlack);
	text-shadow: 0px 2px 2px rgb(from var(--themedBlack) r g b / 0.5);
	font-family: "Rajdhani_SemiBold", sans-serif;
}
.inDevelopment {
	background: #c30068;
}
.inDevelopment p::before {
	content: "In Development";
}
.comingSoon {
	background: #1696ff;
}
.comingSoon p::before {
	content: "Coming Soon";
}
.demoVailable {
	background: #6cb400;
}
.demoVailable p::before {
	content: "Demo Available";
}

/* --- STYLE --- */
.text_slant::before {
	content: "";

	background: var(--slantBackground);
	position: absolute;
	z-index: -1;

	inset: 0px;
	transform: skew(-5deg);
}
.text_slant::after {
	content: "";
	
	background: var(--slantBackground);
	height: 2px;
	width: 100%;

	position: absolute;
	
	left: -1.5px;
	bottom: -4px;
	
	transform-origin: center right;
	transform: skew(-5deg);
}
.text_slant {
	position: relative;
	font-family: "Rajdhani_SemiBold", sans-serif;
	color: transparent;
	
	background: var(--slantText);
	background-clip: text !important;
}

.floating_major_title_shadow {
	filter: drop-shadow(0px 2px 4px var(--textShadowColor))
			drop-shadow(0px 2px 4px var(--textShadowColor));
}
.floating_paragraph_shadow {
	filter: drop-shadow(0px 1px 4px var(--textShadowColor))
			drop-shadow(0px 1px 4px var(--textShadowColor));
}

/* --- LIMITED LIST --- */
.limited_List {
	display: flex;
	flex-direction: column;

	padding: 8px 4px;
	gap: 4px;

	max-height: clamp(320px, 75vh, 786px);
	overflow-y: scroll;
}
.list_item {
	background-color: var(--themedLighter);
	box-shadow: 0px 2px 8px hsl(from var(--themedOutline) h s calc(l - 5));
	
	border: solid 2px var(--themedOutline);
	border-radius: 4px;
	
	color: white;
	opacity: 0.5;

	padding: 8px;
	cursor: pointer;

	position: relative;
	transition: opacity 0.2s ease;
}
.list_item:hover {
	opacity: 1;
}
.list_item h4 {
	margin: 0px;
	padding: 4px 0px;
}
.list_item h5 {
	margin: 0px;
	padding: 4px 0px;
	font-family: "Rajdhani_Medium", sans-serif;
}

.tag_list {
	display: flex;
	gap: 4px;

	margin-bottom: 4px;
}
.news_tag {
	font-family: "Rajdhani_Medium", sans-serif;
	font-size: 14px;
	
	max-width: max-content;
}

.news_tag::after {
	border-radius: 4px;
	padding: 0px 8px;
}
.website::after {
	content: "Website";
	
	background-color: #c30068;
	color: white;
	box-shadow: 0px 2px 0px #91008a;
}
.frameOfMind::after {
	content: "Frame of Mind";
	
	background-color: #1696ff;
	color: white;
	box-shadow: 0px 2px 0px #1650ff;
}
.rise::after {
	content: "Rise";
	
	background-color: #7d0093;
	color: white;

	box-shadow: 0px 2px 0px #36007d;
}
.personal::after {
	content: "Personal";
	
	background-color: #00b712;
	color: white;

	box-shadow: 0px 2px 0px #3d6b00;
}
.social::after {
	content: "Social";
	
	background-color: #ff6a00;
	color: white;

	box-shadow: 0px 2px 0px #ff3d00;
}

/** AVAILABLE FONTS **
	- Rajdhani Regular
	- Rajdhani Medium
	- Rajdhani Semibold
	- Rajdhani Bold
*/
@font-face {
	font-family: "Rajdhani";
	src: url('../Fonts/Rajdhani/Rajdhani-Regular.ttf');
}
@font-face {
	font-family: "Rajdhani_Medium";
	src: url('../Fonts/Rajdhani/Rajdhani-Medium.ttf');
}
@font-face {
	font-family: "Rajdhani_SemiBold";
	src: url('../Fonts/Rajdhani/Rajdhani-SemiBold.ttf');
}
@font-face {
	font-family: "Rajdhani_Bold";
	src: url('../Fonts/Rajdhani/Rajdhani-Bold.ttf');
}

@media (max-width: 600px) {
	.div_header {
		flex-direction: column;
		gap: 6px;

		justify-content: center;
		align-items: center;

		margin: 8px auto 0px auto;
	}
}