:root {
	--animDelay: 0s;
	
	--characters: 0;
	--caretHeight: 4px;
	--caretWidth: 16px;
	--caretColor: white;
	
	--textFillGradB: var(--themedBlack);
	--textFillGradA: white;

	--backSwipeGradL: white;
	--backSwipeGradR: transparent;
	--backSwipeAngle: 90deg;
}

/** ROOT FADING **/
.fade_in {
	opacity: 0;
	animation: fade 0.5s var(--animDelay) linear forwards;
}
.fade_out {
	opacity: 1;
	animation: fade 0.5s var(--animDelay) linear reverse forwards;
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/** TEXT MASK **/
@property --gradPercent {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}

.text_slant.hover_slant::before {
	--gradPercent: 0%;

	background: linear-gradient(
		var(--backSwipeAngle),
		var(--backSwipeGradL) var(--gradPercent),
		var(--backSwipeGradR) var(--gradPercent)
	);

	transition: --gradPercent ease 0.2s;
}
.text_slant.hover_slant::after {
	--gradPercent: 100%;
	background: var(--slantBackground);
	
	transform: scaleX(0) skew(-5deg);
	transition: transform ease 0.2s;
}
.text_slant.hover_slant {
	--gradPercent: 0%;
	
	background: linear-gradient(
		var(--backSwipeAngle),
		var(--textFillGradB) var(--gradPercent),
		var(--textFillGradA) var(--gradPercent)
	);

	transition: --gradPercent ease 0.2s;
}

.text_slant.hover_slant:hover,
.text_slant.hover_slant:hover::before {
	--gradPercent: 100%;
}
.text_slant.hover_slant:hover::after {
	transform: scaleX(1.0) skew(-5deg);
}

/** TYPEWRITER EFFECT **/
div.typewriter {
	width: min-content;
}
.typewriter * {
	position: relative;
	left: calc(var(--caretWidth) / 2);

	padding-right: var(--caretWidth);
	margin: 0px;

	overflow: hidden;
	white-space: nowrap;

	animation: write 0.75s steps(var(--characters), end);
}
.typewriter *::after {
	position: absolute;
	background-color: var(--caretColor);
	content: "";

	height: var(--caretHeight);
	width: var(--caretWidth);
	
	right: 0px;
	bottom: 8px;

	animation: flicker 0.5s 0.75s steps(2, end) infinite;
}

@keyframes write {
	from {
		width: var(--caretWidth);
	}
	to {
		width: calc(100% - var(--caretWidth));
	}
}
@keyframes flicker {
	from {
		background-color: transparent;
	}
	to {
		background-color: var(--caretColor);
	}
}

/** POINTING ARROW **/
.arrow {
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	background-color: rgba(0, 0, 0, 0.5);
	padding: 8px;
	margin: 8px;
	
	clip-path: circle(16px);
}
.link_arrow {
	color: inherit;
	text-decoration: none;

	display: block;
	padding: 8px;
	margin: 8px;
}
.vertical_arrow {
	animation: point_vertical 0.5s ease-in alternate infinite;
}

@keyframes point_vertical {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(8px);
	}
}