:root {
	--box-size: clamp(320px, 100vw, 512px);
}

.projects_grid {
	display: flex;
	height: max-content;

	gap: 16px;
	padding: 16px 4px;

	overflow-x: scroll;
	overflow-y: visible;
	
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}

.project_box {
	perspective: 3000px;
	transform-style: preserve-3d;
	flex: 0 0 auto;

	position: relative;
	scroll-snap-align: center;

	width: calc(var(--box-size) - 32px);
}
.project_box:hover .front_side {
	transform: rotateY(180deg);
}
.project_box:hover .back_side {
	transform: rotateY(360deg);
}

.front_side, .back_side{
	transition: transform 0.5s ease;
	backface-visibility: hidden;

	border-radius: 4px;
	overflow: hidden;
}
.back_side {
	background-color: #3e00a8;
	position: absolute;
	inset: 0px;

	opacity: 0.8;

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	place-items: center;

	transform: rotateY(180deg);
}

img.gameArt {
	display: block;
	max-width: 100%;
}

.box_buttons {
	gap: 8px;
}