:root {
	--box-size: clamp(320px, 100vw, 480px);
	--boxBack: url("../Graphics/Rise/Rise_Alpha.webp");
}

.projects_grid {
	display: flex;
	height: max-content;

	gap: 16px;
	padding: 16px 4px;

	overflow-x: scroll;
	overflow-y: visible;
	
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}

.project_box {
	perspective: 3000px;
	transform-style: preserve-3d;
	flex: 0 0 auto;

	position: relative;
	scroll-snap-align: center;

	width: calc(var(--box-size) - 32px);
	/* transform: rotateY(180deg); */
}
.project_box:hover .front_side {
	transform: rotateY(180deg);
}
.project_box:hover .back_side {
	transform: rotateY(360deg);
}

.front_side, .back_side{
	transition: transform 0.5s ease;
	backface-visibility: hidden;

	border-radius: 4px;
	overflow: hidden;

	border: solid 2px var(--themedOutline);
}
.back_side {
	background-image: var(--boxBack);
	background-size: contain;
	background-position: center;

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	place-items: center;

	position: absolute;
	transform: rotateY(180deg);
	inset: 0px;
}
.short_description {
	background-color: rgba(from var(--themedBlack) r g b / 0.8);
	backdrop-filter: blur(8px);

	margin: 0px;
	padding: 12px;
}

img.gameArt {
	display: block;
	max-width: 100%;
}

.box_buttons {
	gap: 8px;
}