.projects_grid {
	display: grid;
	grid-auto-columns: max-content;
	grid-auto-flow: column;

	gap: 16px;
	padding: 16px;

	overflow-x: scroll;
	overflow-y: hidden;
	
	scroll-snap-type: x mandatory;
	scrollbar-width: none;

	justify-content: center;
}

.project_box {
	position: relative;

	max-width: 512px;
	scroll-snap-align: center;
	perspective: 3000px;
}
.project_box:hover .front_side {
	transform: rotateY(180deg);
}
.project_box:hover .back_side {
	transform: rotateY(360deg);
}

.front_side {
	transition: transform 0.5s ease;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}
.back_side {
	position: absolute;
	inset: 0px;

	opacity: 0.8;
	transform-style: preserve-3d;
	backface-visibility: hidden;

	transform: rotateY(180deg);
	transition: transform 0.5s ease;
}

.gameArt {
	max-width: 512px;
	height: auto;

	border-radius: 8px;
}
.gameInfo {
	text-align: center;
}