* {
	font-family: "Rajdhani";
}

:root {
	--padding: 4px;
	--curve: 8px;
	--radius: calc(var(--curve) - var(--padding));
}
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	background-color: black;
	color: #ffffff;

	margin: 0px;
	padding: 0px;
}

h1, h2, h3 {
	font-family: "Rajdhani_Bold";
}
h4, h5, h6 {
	font-family: "Rajdhani_SemiBold";
}
p, a {
	font-family: "Rajdhani_Medium";
}

nav {
	backdrop-filter: blur(10px);

	position: fixed;
	inset: 0px;
	z-index: 1;
	
	display: grid;
	align-items: center;
	justify-content: center;

	height: min-content;
	max-height: 36px;
	
	padding: 4px 0px 6px 0px;
}
nav a {
	text-decoration: none;
	text-align: center;

	color: inherit;

	margin: 0px 8px;
	padding: 2px 8px;
}

.center_grid {
	display: grid;
	justify-items: center;
	align-content: center;
}
.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .flex_center {
	position: relative;
	z-index: 1;
}

div {
	min-width: 48px;
	min-height: 32px;
}
.fill_viewport {
	width: 100%;
	height: 100vh;
}

.floating_background {
	position: absolute;
	inset: 0px;

	background-image: url("../Graphics/Rise/Rise_Art_1_0_0.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/** AVAILABLE FONTS **
	- Rajdhani Regular
	- Rajdhani Medium
	- Rajdhani Semibold
	- Rajdhani Bold
*/
@font-face {
	font-family: "Rajdhani";
	src: url('../Fonts/Rajdhani/Rajdhani-Regular.ttf');
}
@font-face {
	font-family: "Rajdhani_Medium";
	src: url('../Fonts/Rajdhani/Rajdhani-Medium.ttf');
}
@font-face {
	font-family: "Rajdhani_SemiBold";
	src: url('../Fonts/Rajdhani/Rajdhani-SemiBold.ttf');
}
@font-face {
	font-family: "Rajdhani_Bold";
	src: url('../Fonts/Rajdhani/Rajdhani-Bold.ttf');
}