#leading_content {
	color: white;
}

/*
	* Anal Red: #ff4747
*/

/** MAIN THEME **/
.normal {
	--backSwipeGradL: #ffda74;
}

/** SPECTRAL ERA **/
.spectral {
	--textFillGradR: #d6d6ff;
	--textFillGradL: black;
	--backSwipeGradL: #7575ff;
}
.spectral #leading_content{
	color: #d6d6ff;
}

/** TIMELINES SERIES **/
.timelines {
	--caretColor: #d4e5ff;

	--textFillGradR: #d4e5ff;
	--textFillGradL: #77c9ff;
	--backSwipeGradL: #091555;
}
.timelines #leading_content{
	color: #d4e5ff;
}